 *{
    margin:0;
    padding: 0;
    text-decoration: none;
}
body{
font-family: 'Montserrat';
}


 /* Cart.css */

   
  .cartparent {
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .contentcart {
    display: flex;
    flex-direction: column;
  }
  
  .titleOfcart {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #979494;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #c1b3b3;
    padding: 10px 0;
  }
  
  .contentsimg {
    width: 220px;
    height: 212px;
    margin-right: 10px;
   
  }
  
  .content1 {
    flex-grow: 1;
  }
  
  .cartremove {
    background-color: #9da5c9;
    color: black;
    border: none;
    padding: 10px 11px;
    cursor: pointer;
    font-weight: bolder;
  }
  
  .quantbtn {
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    color: black;
  }
  
  .quantity {
    margin: 0 10px;
  }
  
  .price {
    font-size: 18px;
  }
  
  .totalitem {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-weight: bold;
  }
  
  .buying {
    margin-top: 20px;
  }
  
  .buybtn {
    background-color: #4c82af;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
  }  
   
/* shipping */

.shipping{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 18px;
  margin-top: 30px;
  color:rgb(212, 97, 97);
  
}
.shipping1{
  text-align: center;
  width: 260px;
  height: 200px;
}
.icon1{

  width: 80px;
  height: 80px;
}
h5{
  color: black;
  margin-bottom: 5px;
}
.shipping p{
  color: black;
  font-size: x-small;
}

/* Search Bar css */

.home_SubParent{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
}

.homeChild{
  margin-top: 30px;
  width:250px;
  height:350px;
  border: 2px solid #ebebeb;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}
.homeChild:hover{
  transform: translateY(-10px);
}
.home_Img{
  height: 200px;
  width: 185px;
}
.home_Left{
  width: 400px;
}
.home_Right{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width:75%;
}
.addtocart1{
  height: 38px;
  width: 119px;
  border-radius: 3px ;
  background-color: rgb(227, 78, 24);
  border: none;
  margin-top: 20px;
  color:snow;
  position: relative;
  bottom: 91px;
  cursor: pointer;
}
.cart-icon1{
  position: relative;
  bottom: 89px;
 left:23px;
  z-index: 1;
  color:snow;
}





@media screen and (max-width:580px){
  .shipping{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 18px;
    margin-top: 30px;
    color:rgb(212, 97, 97);
    
  }
  .contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #c1b3b3;
    padding: 10px 0;
  }
  
  .contentsimg {
    width: 30%;
    height: 125px;
    margin-right: 10px;
   
  }
    
  .contentcart {
    display: flex;
    flex-direction: column;
    width: 92%;
  }
  
  .titleOfcart {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #979494;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
}

 






 