*{
    margin:0;
    padding: 0;
    text-decoration: none;
}
body{
font-family: 'Montserrat';
}
.store{
    color: black;
    background-color: white;
}


.box{
    display: flex;
    align-items: center;
}
.loginicon{
    color: white;
    
}
.search_Bar{
    border: 2px solid black;
    width: 40%;
    height: 40px;
    border-radius: 40px;
    background-color: white;
}

.nav2{
    display: flex;
    justify-content: space-around;
    background-color:#252525;
    height: 60px;
    align-items: center;
   
}
h4{
    color:white;
}
li{
    color: white;
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
    font-weight:bolder
}
a{
    text-decoration: none;
}
ul.sub-routes {
  display: none;
  position: absolute;
  background: transparent;
  margin: 0;
}
.main-link:hover + ul.sub-routes {
  display: block;
}
.route-container:hover ul.sub-routes {
  display: block;
  height: 200px;
}
.menu{
    position: absolute;
    background-color: rgb(114, 171, 180);
}

.search{
    margin-top: 10%;
}


  .cart{
    color: white;
    width:30px;
  }