 *{
    margin:0;
    padding: 0;
    text-decoration: none;
}
body{
font-family: 'Montserrat';
}
.store{
    color: black;
    background-color: white;
}


.box{
    display: flex;
    align-items: center;
}
.loginicon{
    color: white;
    
}
.SearchBar{
    border: 2px solid black;
   height:20px;
   border-radius: 10px;
   
    background-color: white;
}
#searchicon{
  color: black;
  position: relative;
  right:20px;
}
.nav2{
    display: flex;
    justify-content: space-around;
    background-color:#252525;
    height: 60px;
    align-items: center;
   
}
h4{
    color:white;
}
li{
    color: white;
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
    font-weight:bolder
}
a{
    text-decoration: none;
}
ul.sub-routes {
  display: none;
  position: absolute;
  background: transparent;
  margin: 0;
}
.main-link:hover + ul.sub-routes {
  display: block;
}
.route-container:hover ul.sub-routes {
  display: block;
  height: 200px;
}
.menu{
    position: absolute;
    background-color: rgb(114, 171, 180);
}

.search{
    margin-top: 10%;
}


  
  




  
  /* Cart.css */

   
  .cartparent {
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .contentcart {
    display: flex;
    flex-direction: column;
  }
  
  .titleOfcart {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #979494;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #c1b3b3;
    padding: 10px 0;
  }
  
  .contentsimg {
    width: 250px;
    height: 280px; 
    margin-right: 10px;
    border: 1px solid blue;
  }
  
  .content1 {
    flex-grow: 1;
  }
  
  .cartremove {
    background-color: #9da5c9;
    color: black;
    border: none;
    padding: 10px 11px;
    cursor: pointer;
    font-weight: bolder;
  }
  
  .quantbtn {
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    color: black;
  }
  
  .quantity {
    margin: 0 10px;
  }
  
  .price {
    font-size: 18px;
  }
  
  .totalitem {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-weight: bold;
  }
  
  .buying {
    margin-top: 20px;
  }
  
  .buybtn {
    background-color: #4c82af;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
  }  
   
/* shipping */

.shipping{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 18px;
  margin-top: 30px;
  color:rgb(212, 97, 97);
  
}
.shipping1{
  text-align: center;
  width: 260px;
  height: 200px;
}
.icon1{

  width: 100px;
  height: 100px;
}
h5{
  color: black;
  margin-bottom: 5px;
}
.shipping p{
  color: black;
  font-size: x-small;
}


 .Burger_Icon {
    display: none;
  }
  .DropDown,
.Navbar {
  margin-top: -0.5em;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-around;
  & a {
    text-shadow: 0px 0px 2px #00000056;
  }
} 






 @media only screen and (min-device-width: 270px) and (max-device-width: 500px) {
   
    .Burger_Icon {
      display: block;
      font-size: 38px;
      position: absolute;
      top: 93px;
      left: 300px;
      border: none;
      background-color: white;
    }
    .DropDown {
      position: absolute;
      flex-direction: column;
      background-color: rgb(143, 143, 212);
      height: 12em;
      width: 52%;
      padding: 0px 20%;
      margin-top: auto;
      box-shadow: inset 0 0 5px gray;
      border-radius: 0px 0px 10px 10px;
      & a {
        text-align: center;
        border-top: 1px solid #F4F4F4;
      }
    }
    .Navbar {
  
      height: 0;
      border: none;
      padding: 0;
      margin: 0;
      & a {
        font-size: 0;
      }
    }
  

  } 