


.Refernce {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: white;
  
}
p{
    color: white;
}

.GridCont{
    display: flex;
    flex-wrap: wrap;
   justify-content: space-around;
    height: 100%;
 
    background-color: darkslategray;
    
   
}

.socialicons{
    display: flex;
    justify-content: space-around;
    width:200px;
   
    color: aliceblue;
   
   
}
.social-icon{
    height:30px;
    width:50px;
}
.heading{
    color: white;
    font-size: 40px;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 20px;
}
.center{
    padding-top: 1rem;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-top: 2rem;
    color: white;
  

}
.middleContainer {
    display: flex;
    flex-direction: column;
}
.middleSubCon {
    /* height: 4rem; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.lastFText {
    font-size: 15px;
    font-style: normal;
}

pre{
    font-family: inherit;
}

.Flinks{
    text-decoration: none;
    color: #ffffff;
}

@media screen  and (min-width:370px)and (max-width:580px){
    .Refernce {
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        gap: 4px;
        padding-top: 2rem;
        padding-bottom: 2rem;
        /* align-items: center; */
       
        width: 289px;
       
        
    }
    .GridCont{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        height: 100%;
        align-items: center;
       
        background-color: darkslategray;
     }
     .heading{
        color: white;
        font-size: 40px;
        font-weight: bolder;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-top: 20px;
    }
  
   
     .center{
        padding-top: 1rem;
    }
      .contact {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: wrap;
        padding-top: 2rem;
        width: 293px;
      
    
    }
    .socialicons{
        display: flex;
        justify-content: space-around;
        width:200px;
       
        color: aliceblue;
       
       
    }
    .social-icon{
        height:30px;
        width:50px;
    }
     .middleContainer {
        display: flex;
        flex-direction: column;
    }
        .middleSubCon {
       
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 300px;
    }
    
    .lastFText {
        font-size: 15px;
        font-style: normal;
    }
    
    pre{
        font-family: inherit;
    }
    
    .Flinks{
        text-decoration: none;
        color: #ffffff;
    }

}
@media screen and (min-width:520px) and (max-width:825px)  {
    .Refernce {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 4px;
        padding-top: 2rem;
        padding-bottom: 2rem;
       
       
        
    }
    .heading{
        color: white;
        font-size: 40px;
        font-weight: bolder;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-top: 20px;
    }
   
    .GridCont{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        height: 100%;
        align-items: center;
      
        background-color: darkslategray;
     }
     /* .FDescription{
        border:2px solid black;
        } */
     .center{
        padding-top: 1rem;
    }
      .contact {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: wrap;
        padding-top: 2rem;
        width:400px
    
    }
     .middleContainer {
        display: flex;
        flex-direction: column;
    }
        .middleSubCon {
        height: 4rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width:200px;
    }
    
    .lastFText {
        font-size: 15px;
        font-style: normal;
    }
    
    pre{
        font-family: inherit;
    }
    
    .Flinks{
        text-decoration: none;
        color: #ffffff;
    }
    .socialicons{
        display: flex;
        justify-content: space-around;
        width:200px;
       
        color: aliceblue;
       
       
    }
    .social-icon{
        height:30px;
        width:50px;
    }
}
    
  




